
<h2>triángulo rectángulo</h2>
<br>
    <p>
El triángulo rectángulo es una figura geométrica que se considera como un polígono formado por tres lados que forman un ángulo recto y dos ángulos agudos.

En la siguiente figura se representa en color rojo los tres lados del triángulo y en color azul el ángulo recto.</p>


      <br>

      <p>Vamos a estudiar qué es un triángulo y las diferentes formas de clasificarlo. Empezaremos diciendo que un triángulo es un polígono que tiene tres lados. También podemos definirlo como el área cerrada por tres rectas. Además de tener tres lados, un triángulo también tiene tres ángulos y tres vértices. Veámos qué es cada uno de ellos:</p>
   <br>


<div class="pagina1">
    <h3>triangulo</h3>
    <div class="contenedor">
        <div class="card">
            <img src="img/1.png" alt="">
            <p>Triángulos equiláteros
</p>
        </div>
        <div class="card">
            <img src="img/2.png" alt="">
            <p>Triángulos isósceles

 </p>
       
        
        



        <br>
        </div>
        <div class="card">
            <img src="img/4.png" alt="">
            <p>Triángulos escalenos
</p>
        </div>
        <div class="card">
            <img src="img/3.png" alt="">
            <p>Triángulos rectángulos
</p>
        </div>  
    </div>
</div>


    <footer><strong>Copyright © Todos los derechos reservados 2022 diseñado por": Axel  Tautiu cosigua  carnet 2290-19-14547</strong></footer>
