<div class="modelo">
    <h3>propiedades</h3>
     <div class="card">
            <img src="img/17.png" alt="">
            <p> Propiedades del Triángulo
Un triángulo es un polígono de tres lados. La notación que generalmente se usa es nombrar sus vértices con las letras mayúsculas A, B y C (pero pueden ser otras, siempre que sean mayúsculas) y lados opuestos a estos vértices se identifican con letras minúsculas. </p>
        </div>
</div>
<br>
<img src="img/0.jpg ">

<p><strong>La suma de los ángulos interiores de un triángulo es igual a 180 °.
Cada triángulo equilátero es equiangular, es decir, las medidas de sus ángulos internos son iguales, en este caso cada ángulo mide 60 °</strong></p>

<br>


<p>Si dos lados de un triángulo tienen la misma medida, entonces los ángulos opuestos también son de igual medida.
En un triángulo, un mayor lado se opone a un mayor ángulo.
El valor de un ángulo exterior de un triángulo es igual a la suma de los dos interiores no adyacentes.
Un lado de un triángulo es más pequeño que la suma de los otros dos y mayor que su diferencia. a (b + c a b) – c
Un triángulo muy utilizado en trigonometría es el triángulo rectángulo, en el cual el estudio de la relación entre sus lados está hecho por el teorema de Pitágoras.

Teorema de Pitágoras: Pitágoras enunció el famoso teorema que lleva su nombre y que relaciona los lados de un triángulo rectángulo. Este teorema dice:

“El área del cuadrado construida sobre la hipotenusa de un triángulo rectángulo es igual a la suma de las áreas de los cuadrados construidos en los catetos.”
Los triángulos son clasificados según dos criterios: según sus lados y según sus ángulos, éstos se pueden usar juntos o por separado:</p>